@model CarSharingPortal.Models.ViewModels.AddEditOfferViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1 class="mb-3">@Model.Heading</h1>


@using (Html.BeginForm("AddEditOffer", "Home", FormMethod.Post, new { id = "mainForm" }))
{

    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    @Html.HiddenFor(x => x.Offer.Id)
    @Html.HiddenFor(x => x.Offer.DateCreated)
    @Html.HiddenFor(x => x.Offer.AuthorId)
    @Html.HiddenFor(x => x.IsAdd)

    <div>I am a... </div>
    <div class="form-check">
        @Html.RadioButtonFor(x => x.Offer.IsAuthorPassenger, false,
            new
                 {
                     @class = "form-check-input",
                     type = "radio",
                     name = "radioDriverPassenger",
                     @id = "radioDriver",
                     @checked = "checked"
                 })
        <label class="form-check-label" for="radioDriver">
            Driver
        </label>
    </div>
    <div class="form-check">
        @Html.RadioButtonFor(x => x.Offer.IsAuthorPassenger, true,
            new
                 {
                     @class = "form-check-input",
                     type = "radio",
                     name = "radioDriverPassenger",
                     @id = "radioDriver",
                     @checked = "checked"
                 })
        <label class="form-check-label" for="radioPassenger">
            Passenger
        </label>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.Offer.DateTravelStart)
        @Html.TextBoxFor(x => x.Offer.DateTravelStart,
            "{0:yyyy-MM-dd}",
            new { @class = "form-control", @id = "TravelStart", autocomplete = "off",
                data_val = "true",
                data_val_dategreaterthantoday = "Date must be greater than today" })
        <span asp-validation-for="@Model.Offer.DateTravelStart" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Route.StartId)
        @Html.DropDownListFor(x => x.Route.StartId,
            new SelectList(Model.Cities, "Id", "Name"),
            "-- select a city --",
            new { @class = "form-control" })
        <span asp-validation-for="@Model.Route.StartId" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Route.EndId)
        @Html.DropDownListFor(x => x.Route.EndId,
            new SelectList(Model.Cities, "Id", "Name"),
            "-- select a city --",
            new { @class = "form-control" })
        <span asp-validation-for="@Model.Route.EndId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-lg mt-2">
        Save
    </button>

}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#TravelStart").datepicker({
                format: "yyyy-mm-dd",
                multidate: false,
                autoclose: true,
                todayHighlight: false,
                forceParse: false,
                weekStart: 1
            });
        });

    </script>
}
